@import 'settings';
@import 'foundation';

.title-bar .welcome-message {
  margin-right: 0.5rem;
}


.bucket {
  ul {
    display: flex;
    flex-flow: wrap;
    list-style: none;
    .tile img { width: 96px; }
  }
}