@import 'settings';
@import 'foundation';

.title-bar {
  .welcome-message {}

  .links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
    li {
      display: inline-block;
      padding: 0 0.25rem;
      a.active {
        color: #666;
      }
    }
  }

}

.bucket {
  ul {
    display: flex;
    flex-flow: wrap;
    list-style: none;

    .tile {
      margin: 2px;

      border: 3px solid whitesmoke;

      &.completed {
        border-color: gold;
      }

      cursor: pointer;
      img {
        width: 96px;
      }
    }
  }
}

.activity {
  position: relative;

  .skulls {
    padding: 0.25rem;
    position: absolute;
    height: 100px;
    bottom: 0;
    background: #444;
    opacity: 0.8;

    .skull {
      text-align: center;
      padding: 0.5rem;
    }
  }
}
